In [ ]:
print("Hello, world!")

In [8]:
## Data types
# string is either double quotes or single quotes
# numeric types: integers and floats
test = "hello"
print(test)
type(test)

number = 10
floaty = 5.4
type(number)
type(floaty)

hello

float

In [12]:
number + floaty
test + "!"
test + test

'hellohello'

### Operators

In [16]:
36 / 6 +5
6 * 10
7 ** 7
15//4

3

### Python Collections

In [20]:
# list 
my_list = [1,"2", 3.2]
print(my_list)

[1, '2', 3.2]

In [23]:
print(my_list[0])
print(my_list[-1]) #last item
print(my_list[1:]) #subject all items but the first item

1
3.2
['2', 3.2]

In [26]:
# dictionaries
my_dict = {"one": 1, "two": 2, "three": 3} #
print(my_dict["one"]) #need to use key rather than ordering

1

In [ ]:
# version control: build up track of history rather than save copies every time

In [1]:
#! run terminal command
! unzip data/portal-teachingdb-master.zip

Archive:  data/portal-teachingdb-master.zip
   creating: portal-teachingdb-master/
  inflating: portal-teachingdb-master/surveys2001.csv
  inflating: portal-teachingdb-master/surveys2002.csv
  inflating: portal-teachingdb-master/speciesSubset.csv
  inflating: portal-teachingdb-master/bouldercreek_09_2013.txt
  inflating: portal-teachingdb-master/species.csv
  inflating: portal-teachingdb-master/surveys.csv
  inflating: portal-teachingdb-master/portal_mammals.sqlite
  inflating: portal-teachingdb-master/README.txt
  inflating: portal-teachingdb-master/plots.csv

In [5]:
# aliasing pandas to pd for ease
import pandas as pd
survery_df = pd.read_csv("portal-teachingdb-master/surveys.csv")
survery_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN